<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bearer Token</key>
	<string>AAAAAAAAAAAAAAAAAAAAAHx5pgEAAAAAnhPimNPKNtv8Trn%2B8mr13aOHPM4%3DAUv79e3MSb2peyHId2XRktdrDlyXl3wz58vCuBvXI6RX7pBYhE</string>
</dict>
</plist>
